[include]
	path = ~/.gituser
[branch]
	autosetuprebase = always
	autosetupmerge = true
[push]
	default = upstream
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	s = status
	b = branch
	co = checkout
	ci = commit
	d = diff
	l = log --graph --decorate=short
	lo = log --pretty=format:'%h <%an> %s'
	unstage = "reset HEAD "
	hreset = reset --hard
	fci = commit --no-verify
	fancylog = log --graph --full-history --all --color --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
[rerere]
	enabled = 1
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	compactionHeuristic = true
[pull]
	rebase = preserve
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[remote "origin"]
	prune = true
